body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

img {
    background-color: #7a768d;
    border-radius: 4px;
}

.header,
.introduction,
.footer {
    padding: 0 100px;
    background-color: #1f2937;
}

.header {
    height: 60px;
    font-size: 24px;
    display: flex;
    flex: auto;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.header-links {
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
}

.header-links li {
    display: flex;
    align-items: center;
}

.intro-large {
    font-size: 48px;
    font-weight: bolder;
}

img,
.header-links a,
.intro-small {
    font-size: 18px;
    font-weight: lighter;
    color: #e5e7eb
}

.header,
.intro-large,
.intro-button {
    color: #f9faf8
}

.introduction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 4;
    gap: 48px;
    padding: 100px 100px;
}

.intro-button {
    background-color: #3882f6;
    font-weight: bold;
    border-style: none;
    border-radius: 3px;
    padding: 8px 32px;
    margin-top: 10px;
}

.intro-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
}

.intro-right {
    flex: 1;
}

.intro-right img {
    max-height: 100%;
    max-width: 100%;
}

.information {
    background-color: #f9faf8;
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 100px 100px;
}

.info-images img {
    width: 150px;
    height: 150px;
    background-color: #f9faf8;
    border-color: #3882f6;
    border-radius: 8px;
    border-style: solid;
    margin: 4px;
}

.info-images p {
    text-align: center;
    font-size: 16px;
    color: #636363;
}

.info-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info-title {
    padding: 30px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.image-subtext-1,
.image-subtext-2,
.image-subtext-3,
.image-subtext-4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    flex: 0;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    flex: 3;
    padding: 100px 100px;
    gap: 8px
}

.quote-text p {
    font-size: 36px;
    font-weight: 100;
    color: #1f2937
}

.quote-author p {
    font-weight: bold;
    font-size: 18px;
    text-align: right;
}

.sign-up {
    background-color: #f9faf8;
    display: flex;
    flex: 2;
    padding: 100px;
    justify-content: center;
}

.sign-up-banner {
    background-color: #3882f6;
    padding: 25px 45px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
}

.sign-up-banner p {
    color:#f9faf8;
}

.sign-up-para-1 {
    font-size: 18px;
    font-weight: bold;
}

.sign-up-para-2 {
    font-size: 14px;
    font-weight: 100;
}

.sign-up-button button{
    background-color: #3882f6;
    border-color: #f9faf8;
    border-radius: 6px;
    border-style: solid;
    padding: 4px 24px;
    color:#f9faf8;
}

.footer {
    color: #f9faf8;
    display: flex;
    justify-content: center;
    padding: 20px;
}