body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

img {
    background-color: #7a768d;
    border-radius: 4px;
}

.header,
.introduction,
.footer {
    padding: 0 100px;
    background-color: #1f2937;
}

.header {
    height: 60px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.header-links {
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
}

.header-links li {
    display: flex;
    align-items: center;
}

.intro-large {
    font-size: 48px;
    font-weight: bolder;
}

img,
.header-links a,
.intro-small {
    font-size: 18px;
    font-weight: lighter;
    color: #e5e7eb
}

.header,
.intro-large,
.intro-button {
    color: #f9faf8
}

.introduction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 4;
    gap: 48px;
    padding: 100px 100px;
}

.intro-button {
    background-color: #3882f6;
    font-weight: bold;
    border-style: none;
    border-radius: 3px;
    padding: 8px 32px;
    margin-top: 10px;
}

.intro-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
}

.intro-right {
    flex: 1;
}

.intro-right img {
    max-height: 100%;
    max-width: 100%;
}

.information {
    background-color: #f9faf8;
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}